@charset "UTF-8";
body    {

      background-image: url("MicrosoftTeams-image.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
}
.colorlist	{
	color:white;
	text-align:center;
}
.colorlist a	{
	text-align:center;
}
.colorlist:hover	{
		color:#c0c0c0!important;
}
.btn-primary	{
	background-color:#c0c0c0!important;
	border-color:black!important;
	color:black!important;
}
#creabeer	{
	max-width:700px;
	background: rgba(255, 255, 255, .3);
	font-size:1em;
}
.col-12.col-md-4	{
	text-align:right;
	color:white;
	background-color:rgba(0, 0, 0, .4);
}
.col-12.col-md-4:last-child	{
	background-color:transparent;
}

#container    {
	padding-bottom:1.2em;
  	background: rgba(255, 255, 255, .3);
    border-radius:0 0 2em 2em;
    display: flex;
    justify-content: space-beetwen;
    flex-direction: column;
}
#container .btn-primary	{
	width:250px;
	margin:1em, 0, 0, 0;
	border-color:black!important;
}
#container .btn-primary:hover	{
	opacity:0.6;
}
form label {
	color:black;
	font-size:1.2em;
}
form label select {
	color:black;
	font-size:1.2em;
}

.titre	{
	color:white;
	margin:1em;
	font-weight:700;
}
td	{
	padding: 0.5em 1em 0.5em 1em;
	background: rgba(0, 0, 0, .5);
	text-align:center;
	/*border-radius:2em 2em 2em 2em;*/
}
#container td a {
	text-align:center;
}
#container th  {
	text-align:center;
}
th	{
	
	font-size: 1.7em;
	padding-top:1em;
	background: rgba(255, 255, 255, .5);
	color:black;
	border-width:2em;
	border-color:transparent;
	padding:auto;
}
row	{
	margin-top:1em;
	text-align:center;
	background-color: transparent;
}
#show	{
 
  height:200px;
  width:700px;
  margin:auto;
  background-color:black;
  text-align:center;
  font-size:5em;
  color:black;
  display:flex;
  flex-direction : column;
  align-content:space-around;
  justify-content:space-beetwen;
  opacity:0.66;
  
 }
 #show .btn-primary	{
	width:100px;
  	margin:auto;
 }
  #show .btn-primary:hover	{
  	opacity:0.6;
	width:100px;
  	margin:auto;
 }
 @media screen and (max-width: 470px)
{
    /* Rédigez vos propriétés CSS ici */
    th{
    display:none;
    }
}
