<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ListVoiture</display-name>
    <servlet-name>ListVoiture</servlet-name>
    <servlet-class>routing.ListVoiture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListVoiture</servlet-name>
    <url-pattern>/ListVoiture</url-pattern>
  </servlet-mapping>
  <display-name>CarWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VoiturePage</display-name>
    <servlet-name>VoiturePage</servlet-name>
    <servlet-class>routing.VoiturePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoiturePage</servlet-name>
    <url-pattern>/VoiturePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewModele</display-name>
    <servlet-name>NewModele</servlet-name>
    <servlet-class>routing.NewModele</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewModele</servlet-name>
    <url-pattern>/NewModele</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewMarque</display-name>
    <servlet-name>NewMarque</servlet-name>
    <servlet-class>routing.NewMarque</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewMarque</servlet-name>
    <url-pattern>/NewMarque</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sx</display-name>
    <servlet-name>sx</servlet-name>
    <servlet-class>routing.sx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sx</servlet-name>
    <url-pattern>/sx</url-pattern>
  </servlet-mapping>
</web-app>